
// Color scheme
@purple: #8F0A8F;
@lavender: #4D1796;
@blue: #21219A;
@yellow: #DDCA10;

@primary: @purple;
@secondary: @lavender;
@tertiary: @blue;
@quaternary: @yellow;

@navHeight: 50px;


@import "navigation.less"; 
@import "typography.less";
@import "scaffolding.less"; 
@import "buttons.less";
@import "custom.less";
@import "animations.less"; 







