// Color scheme
@primary: #4D1796;
@secondary: #8F0A8F;
@tertiary: #21219A;
@quaternary: #DDCA10;

body { 
}


.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
}


.slideshow {
  width: 100%;
  height: 450px;
  max-height: 450px;
  background: @secondary;
  border-bottom: 3px solid @primary;
}
