
// Color scheme
@black: #000;
@fuschia: #af0047; //#fd4168;
@lightFuschia: lighten(#af0047, 30%);
@teal: #0084af;

@primary: @black;
@secondary: @lightFuschia;
@tertiary: @fuschia;
@quaternary: @teal;

@import "scaffolding.less"; 
@import "navigation.less"; 
@import "buttons.less";
@import "typography.less";
@import "custom.less";
@import "animations.less"; 


.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
}
