@h1-size: 60px;

body { 
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, .copyright {
  font-family: "Lobster", cursive;
  text-shadow: 3px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: @h1-size;
  margin-bottom: @h1-size / 2;
}

h2 {
  font-size: @h1-size / 2;
  font-weight: normal;
}

h3 {
  font-size: @h1-size / 2.5;
}

h4 {
  font-size: @h1-size / 3.5;
}

.copyright {
  margin-top: 20px;
  font-size: @h1-size / 2; 
}
